<form action="" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Enter the name of your recipe: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="description">Enter the recipe: </label>
    <input type="text" name="description" required>
  </div>
  <div class="form-example">
    <label for="prep time">Enter the prep time: </label>
    <input type="text" name="prep_time" required>
  </div>
  <div class="form-example">
    <label for="level">Enter the level: </label>
    <input type="text" name="level" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Subscribe!">
  </div>
</form>
